bin/*
iso/*/files/*
!iso/*/files/opening.bnr
iso/*/sys/*
!iso/*/sys/boot.bin
!iso/*/sys/apploader.img
src/*/build/*
.vscode
GALE01r0.ld
GALE01r1.ld
GALE01r2.ld
GALP01.ld
gci/**/*.bin
gci/**/*.elf
gci/**/*.gci
!gci/*
gci/tmp_*