[submodule "tools/melee-gci-compiler"]
	path = tools/melee-gci-compiler
	url = https://github.com/AltimorTASDK/melee-gci-compiler
[submodule "src/loader/lib/zlib"]
	path = src/loader/lib/zlib
	url = https://github.com/madler/zlib
